Button{
    border-radius: 10px;
    padding: 0.5rem;
    height: 3rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}