
.backButton{
    margin: 1rem 0;
    margin-right: auto;
}
.selectButton{
    margin: 1rem 0;
}

#profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

