@import "~bootstrap/scss/bootstrap";

$mainColor: #57B186;
$secondaryColor: #3C5298;
$transparent: #9f9f9f0a;
$lightgrey: #9f9f9f6c;

$bgMainColor:#f2f4f4;


$mainWeight: 500;
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fatherContainer{
    background-color: $bgMainColor;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postContainer{
    width: 90%;
    border: 1px solid $lightgrey;
    border-radius: 20px;
    background-color: $lightgrey;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    
}

.postContainer:hover{
    background-color: $secondaryColor;
    transform: scale(1.04);
}
.figure{
    height: 200%;
}

.figurePostContainer{
    width: 30%;
    
}

.photoPostContainer{
    width: 100%;
    
}

.descriptionContainer{
    // background-color: $transparent;
    text-align: justify;
    width: 100%;
}
.card{
    background-color: $transparent;
}
.card-body{
    background-color: $transparent;
}

.titleContainer{
    
    border-radius: 0 0 20px 20px;
    margin: 5px;
    background-color: $bgMainColor;
    box-shadow: 0px 16px 40px -15px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 16px 40px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 16px 40px -15px rgba(0,0,0,0.75);


}

.boldTitle{
    text-overflow: bold;
    color: $secondaryColor;
    font-weight: 700;
}

.normalTitle{
    color:$secondaryColor;
}

.searchContainer{
width: 45%;
margin: 8px;
}

.utilitiesContainer form{
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.utilitiesContainer form li{
    text-decoration: none;


}

//Empieza estilizado
.selectButton{
    border-radius: 10px;
    background-color: $mainColor;
    font-weight: $mainWeight;
}

.card-text{
    text-transform:uppercase;
}
.searchContainer{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#searchButton{
    background-color: $secondaryColor;
    font-weight: $mainWeight;

}