@import "~bootstrap/scss/bootstrap";

.contenedorPadre{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedorDescripcion{
    border: 1px solid black;
}

.contenedorFigura{
    border: 1px solid black;
}

div form{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;

}

div form li{
    text-decoration: none;
}