.titleContainer{
    display: flex;
   
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;

    height: 5rem;
    // width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;

}
