*{
    padding: 0;
    margin: 0;
}
html, body, section {
    height: 100%;
body{
        background-image: url(https://img.freepik.com/foto-gratis/donaciones-alimentos-conjunto-productos-basicos-cereales-crudos-alimentos-enlatados-pastas-comestibles-mesa-madera-donar-concepto-entrega-alimentos-personas-mayores-cuarentena-covid-voluntario-espacio-copia-vista-superior_221542-2770.jpg?w=2000);
        background-repeat: no-repeat;
    }
}
.container{
    width: 100%;
}