// @import "../../pages/Donadores/Donadores.scss";


#firstPart{
    display: flex;
    align-items: center;
    justify-content: center;
    
    align-content: space-around;
    margin: 2rem;
    
    

}
#fatherContainer{
    padding: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
}
.FoodLinkAddress{
    margin-left: auto;
}