@import "../../pages/Donadores/Donadores.scss";

#rights{
    color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}
#firstPart{
    display: flex;
    align-items: center;
    justify-content: center;
    
    align-content: space-around;
    margin: 2rem;
    
    

}
#fatherContainer{
    color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: small;
    font-weight: 400;
    width: 100%;

}
.FoodLinkAddress{
    margin-left: auto;
}
#splitter{
    margin: 2rem;
    background-color: $secondaryColor;
    height: 2px;
    border-radius: 10px;;
}
#footerLogo{
    height: 5rem;
    width: auto;
    
}