body{
    width: 100%;
    background-color: #f4f4f6;
    margin: 15px;
    box-sizing: border-box;
}

h2{
    margin: 40px;
}

.formDonations{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.foodMesureAndDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodMesureAndDescription div{
    margin: 15px;
}

.foodMesureAndDescription div p{
    margin: 2px;
}

.foodMesureAndDescription div input{
    size: "lg";
    
}

.addresInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.addresInfo div{
    margin: 15px;
}

.addresInfo2{
    display: flex;
    flex-direction: row;
}

.addresInfo3{
    display: flex;
    flex-direction: row;
}
.addresInfo1 p{
    margin: 2px;
}

.addresInfo2 p{
    margin: 2px;
}

.addresInfo3 p{
    margin: 2px;
}

.personalInfo{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items:center;

}

.personalInfo div{
    margin: 15px;
}

.personalInfo p{
    margin: 2px;
}

button{
    background-color: #16c281;
}

button:hover{
    background-color: #60d360;
}