@import "~bootstrap/scss/bootstrap";
@import "../Donadores/Donadores.scss";
// body{
//     width: 100%;
//     background-color: #f4f4f6;
//     margin: 15px;
//     box-sizing: border-box;
// }

.masterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.postedContainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    align-items:center;
    justify-content: center;  
    // margin: 3%;
 
     
}


.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;  

}
.previewContainer{
width: 90%;
background-color: $secondaryColor;
padding: 1rem;
color: white;
border-radius: 20px;
}

.cardContainer{
    background-color: white;
}

.navLink{
    margin: 1rem 1rem;
    padding: 5px;
    font-weight: $mainWeight;
    color: $secondaryColor;
}
.navLink:hover{
    color: $mainColor;
    text-decoration: underline 5px;
}